---
type Props = {
  position?: "top" | "bottom" | "left" | "right";
  text?: string;
};

const { position, text } = Astro.props;

const tooltipPosition = position || "top";

const classListPosition = {
  top: "after:bottom-full after:left-1/2 after:transform after:-translate-x-1/2 after:mb-2",
  bottom: "after:top-full after:left-1/2 after:transform after:-translate-x-1/2 after:mt-2",
  left: "after:right-full after:top-1/2 after:transform after:-translate-y-1/2 after:mr-2",
  right: "after:left-full after:top-1/2 after:transform after:-translate-y-1/2 after:ml-2"
}[tooltipPosition];
---

<div class={`relative z-20 w-fit after:absolute after:text-nowrap after:block after:scale-0 hover:after:scale-100 after:hover:scale-100 after:transition-all after:select-text ease-in-out duration-300 ${text} ${classListPosition} after:bg-bg-theme-secondary after:p-1 after:text-xs after:rounded-lg`}>
  <slot />
</div>