---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/estevandev-logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Estevan Dev | Portafolio</title>
	</head>
	<body class="font-montserrat text-[14px]">
		<Navbar />
		<slot />
	</body>
</html>
